<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>会員変更入力 | シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body th:object="${userForm}" class="admin user_update_input_admin">
	<h3>社員変更入力画面</h3>

	<div class="update">
		<form th:action="@{/update/check}" method="post" th:object="${employeeForm}">

			<!-- エラーメッセージの出力(入力チェック) -->
			<p>
				<span th:each="error:${#fields.detailedErrors()}">
					<span th:text="${error.message}" class="error"></span><br />
				</span>
				<span th:text="${errMessage}" class="error"></span>
			</p>

			<div class="form">
				<div class="label">パスワード：</div>
				<div class="input required">
					<input type="password" id="pass1" th:field="*{empPass}" />
				</div>
			</div>

			<div class="form">
				<div class="label">パスワード（確認用）:</div>
				<div class="input required">
					<input type="password" id="pass2">
					<input type="checkbox" id="showPassCheck">
					<div>パスワードを表示する</div>
				</div>
			</div>

			<div class="form">
				<div class="label">社員名：</div>
				<div class="input required">
					<input type="text" th:field="*{empName}" />
				</div>
			</div>

			<div class="form">
				<div class="label">性別：</div>
				<div class="input">
					<input type="radio" th:field="*{gender}" value="1" />男性&nbsp;
					<input type="radio" th:field="*{gender}" value="2" />女性
				</div>
			</div>

			<div class="form">
				<div class="label">住所：</div>
				<div class="input required">
					<input type="text" th:field="*{address}" />
				</div>
			</div>

			<div class="form">
				<div class="label">生年月日：(YYYY/MM/DD)</div>
				<div class="input required">
					<input type="text" th:field="*{birthday}" />
				</div>
			</div>

			<div class="form" th:if="${session.loginUser.authority == 1}">
				<div class="label">権限：</div>
				<div>一般</div>
			</div>

			<div class="form" th:if="${session.loginUser.authority == 2}">
				<div class="label">権限：</div>
				<div class="input">
					<input type="radio" th:field="*{authority}" value="1" />一般&nbsp;&nbsp;
					<input type="radio" th:field="*{authority}" value="2" />管理者
				</div>
			</div>

			<div class="form">
				<div class="label">部署名：</div>
				<div class="input">
					<select th:field="*{deptId}">
						<option value="1">営業部</option>
						<option value="2">経理部</option>
						<option value="3">総務部</option>
					</select>
				</div>
			</div>
			
				<div class="form">
				<div class="label"></div>
				<div class="input required" id="msg"></div>
			</div>

			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="hidden" th:field="*{empId}" />
					<input type="submit" id="linkBtn" value="変更" />
				</div>
			</div>
		</form>

		<form th:action="@{/list}" name="back">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="戻る" />
				</div>
			</div>


		</form>

		<script>
			const pass1 = document.getElementById('pass1');
			const pass2 = document.getElementById('pass2');
			const msg = document.getElementById('msg');
			const btn = document.getElementById('linkBtn');

			// パスワード一致チェック関数
			const checkPassword = () => {
				const val1 = pass1.value;
				const val2 = pass2.value;

				btn.ariaDisabled = true;

				if (val1 === "" && val2 === "") {
					msg.textContent = "";
					msg.className = "";
					btn.disabled = true;
					return;
				}

				if (val1 === val2) {
					msg.textContent = "";
					msg.className = "";
					// 一致したらボタンのロックを解除（活性化）
					btn.disabled = false;
				} else {
					msg.textContent = "パスワードが一致していません";
					msg.className = "invalid";
					// 不一致ならロックする
					btn.disabled = true;
				}
			};

			pass1.addEventListener('input', checkPassword);
			pass2.addEventListener('input', checkPassword);

			const passwordInput = document.getElementById('pass2');
			const checkbox = document.getElementById('showPassCheck');

			// 2. チェックボックスの状態が変わった時のイベント (change)
			checkbox.addEventListener('change', () => {

				if (checkbox.checked) {
					// チェックが入ったら、typeを "text" に変更（見えるようにする）
					passwordInput.type = 'text';
				} else {
					// チェックが外れたら、typeを "password" に戻す（隠す）
					passwordInput.type = 'password';
				}

			});

		</script>
	</div>
</body>

</html>