<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>会員登録入力 | シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body class="admin user_regist_input_admin">
	<h3>社員登録入力画面</h3>



	<div class="update">
		<form th:action="@{/regist/check}" method="post" th:object="${employeeForm}">

			<!-- エラーメッセージの出力(入力チェック) -->
			<p  th:classappend="${#fields.hasErrors()} ? 'shake':''" >
				<span th:each="error:${#fields.detailedErrors()}">
					<span th:text="${error.message}" class="error"></span><br />
				</span>
				<span th:text="${errMessage}" class="error"></span>
			</p>

			<div class="form">
				<div class="label">パスワード：</div>
				<div class="input required">
					<input type="password" id="pass1" th:field="*{empPass}"  th:classappend="${#fields.hasErrors('empPass')} ? 'input-error':''"/>
				</div>
			</div>

			<div class="form">
				<div class="label">パスワード（確認用）:</div>
				<div class="input required">
					<input type="password" id="pass2"th:classappend="${#fields.hasErrors('empPass')} ? 'input-error':''">
					<input type="checkbox" id="showPassCheck">
					<div>パスワードを表示する</div>
				</div>
			</div>

			<div class="form">
				<div class="label">社員名：</div>
				<div class="input required">
					<input type="text" th:field="*{empName}"  th:classappend="${#fields.hasErrors('empName')} ? 'input-error':''"/>
				</div>
			</div>

			<div class="form">
				<div class="label">性別：</div>
				<div class="input">
					<input type="radio" th:field="*{gender}" value="1" />男性
					<input type="radio" th:field="*{gender}" value="2" />女性
				</div>
			</div>

			<div class="form">
				<div class="label">住所：</div>
				<div class="input required">
					<input type="text" th:field="*{address}"  th:classappend="${#fields.hasErrors('address')} ? 'input-error':''"/>
				</div>
			</div>

			<div class="form">
				<div class="label">生年月日：(YYYY/MM/DD)</div>
				<div class="input required">
					<input type="text" th:field="*{birthday}"  th:classappend="${#fields.hasErrors('birthday')} ? 'input-error':''"/>
				</div>
			</div>

			<div class="form">
				<div class="label">権限：</div>
				<div class="input">
					<input type="radio" th:field="*{authority}" value="1" />一般
					<input type="radio" th:field="*{authority}" value="2" />管理者
				</div>
			</div>

			<div class="form">
				<div class="label">部署名：</div>
				<div class="input">
					<select th:field="*{deptId}">
						<option value="1">営業部</option>
						<option value="2">経理部</option>
						<option value="3">総務部</option>
					</select>
				</div>
			</div>

			<div class="form">
				<div class="label"></div>
				<div class="input required" id="msg"></div>
			</div>

			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" id="linkBtn" value="登録" />
				</div>
			</div>
		</form>

		<form th:action="@{/list}" name="back">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="戻る" />
				</div>
			</div>
		</form>

		<script>
			const pass1 = document.getElementById('pass1');
			const pass2 = document.getElementById('pass2');
			const msg = document.getElementById('msg');
			const btn = document.getElementById('linkBtn');

			// パスワード一致チェック関数
			const checkPassword = () => {
				const val1 = pass1.value;
				const val2 = pass2.value;

				btn.ariaDisabled = true;

				if (val1 === "" && val2 === "") {
					msg.textContent = "";
					msg.className = "";
					btn.disabled = true;
					return;
				}

				if (val1 === val2) {
					msg.textContent = "";
					msg.className = "";
					// 一致したらボタンのロックを解除（活性化）
					btn.disabled = false;
				} else {
					msg.textContent = "パスワードが一致していません";
					msg.className = "invalid";
					// 不一致ならロックする
					btn.disabled = true;
				}
			};

			pass1.addEventListener('input', checkPassword);
			pass2.addEventListener('input', checkPassword);
			
			const checkbox = document.getElementById('showPassCheck');

			// 2. チェックボックスの状態が変わった時のイベント (change)
			checkbox.addEventListener('change', () => {
				
				const type = checkbox.checked ? 'text':'password';
				
				pass1.type = type;
				pass2.type = type;
			});
			
			const empName = document.getElementById('empName');
			const address = document.getElementById('address');
			const birthday = document.getElementById('birthday');
			
			function clearFieldError(inputEl){
						
						if(inputEl.value.trim() === '') return;
						
						inputEl.classList.remove('input-error');
						
					}
					
					pass1.addEventListener('blur', () => clearFieldError(pass1));
					pass2.addEventListener('blur', () => clearFieldError(pass2));
					empName.addEventListener('blur', () => clearFieldError(empName));
					address.addEventListener('blur', () => clearFieldError(address));
					birthday.addEventListener('blur', () => clearFieldError(birthday));
					

		</script>



	</div>
</body>

</html>